body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #1976d2;
  --secondary: #dc004e;
  --primaryText: #252529;
  --activeText: #1E9DE5;
  --secondaryText: #999999;
  --link: #1EA5E9;
  --border: #E4E3E2;
  --outline-input: #39C3F0;
  --color-input: #999999;
  --color-input-active: #ABABAB;
  --background-inpit: #F1F1F1;
  --background-inpit-active: #FFF;
  --icon: #ABABAB;
  --icon-active: #989898;
  --background: #fff;
}
